<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.bmartel.android.bixi">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

        <service
            android:name=".service.BixiService"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="fr.bmartel.android.bixi.IBixiService" />
            </intent-filter>

        </service>

    </application>

</manifest>
